body
{
    background-color: rgb(0, 170, 226);
    width: 100%;
}

#game-container
{
    border: 2px solid black;
    padding: 0px;
    display: inline-block;
}

#control-panel
{
    top: 0;
    width: 240px; 
    right: 0; 
    bottom: 0;
    background: rgb(102, 196, 228); 
    position: fixed;
}